{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  }
}
